body{
    color: red;
}
h1{
    color: green;
}
.purple{
    color: purple;
    background: gray;
.half_and_half{
    border: 2px solid black;
    display:inline-block;
    width:300px;
    :vertical-align:top;
}    
}